In [1]:
import pandas as pd
import requests
import json

In [2]:
file = "data_csv.csv"

In [3]:
df = pd.read_csv(file)
df.head()

   year category  winner               entity
0  1927    ACTOR   False  Richard Barthelmess
1  1927    ACTOR    True        Emil Jannings
2  1927  ACTRESS   False       Louise Dresser
3  1927  ACTRESS    True         Janet Gaynor
4  1927  ACTRESS   False       Gloria Swanson

In [4]:
new_df = df[df["winner"]==True]
new_df

,year,category,winner,entity
1,1927,ACTOR,True,Emil Jannings
3,1927,ACTRESS,True,Janet Gaynor
6,1927,ART DIRECTION,True,William Cameron Menzies
9,1927,CINEMATOGRAPHY,True,Charles Rosher
10,1927,CINEMATOGRAPHY,True,Karl Struss
...,...,...,...,...
11053,2017,SCIENTIFIC AND TECHNICAL AWARD (Scientific and...,True,"To LEONARD CHAPMAN for the overall concept, de..."
11054,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To JASON SMITH and JEFF WHITE for the original...
11055,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,"To JOE MANCEWICZ, MATT DERKSEN and HANS RIJPKE..."
11056,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ALEX POWELL for his contribution to the des...
11057,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ROB JENSEN for the foundational design and ...

In [5]:
actor_actress_df = new_df.loc[(new_df["category"]=='ACTOR')|(new_df["category"]=='ACTRESS')| \
                              (new_df["category"]=='ACTOR IN A LEADING ROLE')|(new_df["category"]=='ACTRESS IN A LEADING ROLE')]
actor_actress_df

       year                   category  winner             entity
1      1927                      ACTOR    True      Emil Jannings
3      1927                    ACTRESS    True       Janet Gaynor
36     1928                      ACTOR    True      Warner Baxter
45     1928                    ACTRESS    True      Mary Pickford
73     1929                      ACTOR    True      George Arliss
...     ...                        ...     ...                ...
10652  2015  ACTRESS IN A LEADING ROLE    True        Brie Larson
10776  2016    ACTOR IN A LEADING ROLE    True      Casey Affleck
10789  2016  ACTRESS IN A LEADING ROLE    True         Emma Stone
10923  2017    ACTOR IN A LEADING ROLE    True        Gary Oldman
10931  2017  ACTRESS IN A LEADING ROLE    True  Frances McDormand

[182 rows x 4 columns]

In [6]:
first_name=[]
last_name=[]
for name in actor_actress_df['entity']:
    try:
        first_name.append(name.split()[0])
        last_name.append(name.split()[1])
    except:
        last_name.append("")

In [7]:
actor_actress_df['First Name']=first_name
actor_actress_df['Last Name']=last_name
# actor_actress_df

In [8]:
url_person = "https://api.themoviedb.org/3/search/person?"
api="6aad3de5cbbe9408615a6bd344e0b7bb"

id_number=[]
for index , col in actor_actress_df.iterrows():
    try:
        query_url = url_person + "api_key=" + api + "&query=" + col['First Name'] + "+" + col['Last Name']
        person_json = requests.get(query_url).json()
        id_number.append(person_json['results'][0]['id'])
    except:
        print("Actor not found")

In [9]:
actor_actress_df['ID Number']=id_number
# actor_actress_df

In [10]:
actor_id=[]
movie_title=[]

url_person = "https://api.themoviedb.org/3/person/"

for _, id in actor_actress_df.iterrows():
    try:
        query_url = url_person + str(id['ID Number']) + "/movie_credits?api_key=" + api + "&language=en-US"
        person_json = requests.get(query_url).json()
        for x in np.arange(len(person_json['cast'])):
            actor_id.append(id['ID Number'])
            movie_title.append(person_json['cast'][x]['title'])
    except:
        print("Actor not found")

Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found
Actor not found

In [11]:
actor_id_title_df=pd.DataFrame({"Actor ID":actor_id,"Movie Title":movie_title})

In [16]:
actor_id_df=actor_actress_df[['entity', 'ID Number']]
actor_id_df.drop_duplicates(inplace=True)
actor_id_df

                  entity  ID Number
1          Emil Jannings       2895
3           Janet Gaynor       9088
36         Warner Baxter      29999
45         Mary Pickford     100047
73         George Arliss     124309
...                  ...        ...
10643  Leonardo DiCaprio       6193
10652        Brie Larson      60073
10776      Casey Affleck       1893
10789         Emma Stone      54693
10923        Gary Oldman         64

[157 rows x 2 columns]

In [21]:

actor_id_df.to_csv("Output/actor_id_df.csv",index=False)

In [18]:
actor_actress_df.to_csv("Output/actor_actress.csv", index=False)

In [20]:
actor_id_title_df.to_csv("Output/actor_id_title.csv", index=False)