In [21]:
import pandas as pd
import requests

In [2]:
file = "data_csv.csv"

In [3]:
df = pd.read_csv(file)
df.head()

   year category  winner               entity
0  1927    ACTOR   False  Richard Barthelmess
1  1927    ACTOR    True        Emil Jannings
2  1927  ACTRESS   False       Louise Dresser
3  1927  ACTRESS    True         Janet Gaynor
4  1927  ACTRESS   False       Gloria Swanson

In [4]:
new_df = df[df["winner"]==True]
new_df

,year,category,winner,entity
1,1927,ACTOR,True,Emil Jannings
3,1927,ACTRESS,True,Janet Gaynor
6,1927,ART DIRECTION,True,William Cameron Menzies
9,1927,CINEMATOGRAPHY,True,Charles Rosher
10,1927,CINEMATOGRAPHY,True,Karl Struss
...,...,...,...,...
11053,2017,SCIENTIFIC AND TECHNICAL AWARD (Scientific and...,True,"To LEONARD CHAPMAN for the overall concept, de..."
11054,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To JASON SMITH and JEFF WHITE for the original...
11055,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,"To JOE MANCEWICZ, MATT DERKSEN and HANS RIJPKE..."
11056,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ALEX POWELL for his contribution to the des...
11057,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ROB JENSEN for the foundational design and ...

In [20]:
actor_actress_df = new_df.loc[(new_df["category"]=='ACTOR')|(new_df["category"]=='ACTRESS')| \
                              (new_df["category"]=='ACTOR IN A LEADING ROLE')|(new_df["category"]=='ACTRESS IN A LEADING ROLE')]
actor_actress_df

       year                   category  winner             entity
1      1927                      ACTOR    True      Emil Jannings
3      1927                    ACTRESS    True       Janet Gaynor
36     1928                      ACTOR    True      Warner Baxter
45     1928                    ACTRESS    True      Mary Pickford
73     1929                      ACTOR    True      George Arliss
...     ...                        ...     ...                ...
10652  2015  ACTRESS IN A LEADING ROLE    True        Brie Larson
10776  2016    ACTOR IN A LEADING ROLE    True      Casey Affleck
10789  2016  ACTRESS IN A LEADING ROLE    True         Emma Stone
10923  2017    ACTOR IN A LEADING ROLE    True        Gary Oldman
10931  2017  ACTRESS IN A LEADING ROLE    True  Frances McDormand

[182 rows x 4 columns]

In [ ]:
#query_url = https://api.themoviedb.org/3/search/person?api_key=6aad3de5cbbe9408615a6bd344e0b7bb&query=Tom

In [ ]:
first_name = ex[["First Name"]]